<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/vendor/themes/dark-theme.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <link href="/css/custom.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">Musician App</a>
        {{#if cur_user}}

          {{# if colab_page}}

          {{/if}}

          <div class="navbar-text">Hello {{cur_user.firstName}} </div>
          <p id = "username" style="display:none;">{{cur_user.firstName}}</p>

        {{/if}}
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          {{#if cur_user}}
            <li id="colab"><a href="/colab">Colab</a></li>
          {{/if}}
          {{#if cur_user}}
            <li id="logout"><a href="#">Logout</a></li>
          {{ else }}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>x
  <br><br><br>
  {{{ body }}}

  <script src="/vendor/nexus/NexusUI.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/ToneJS/Tone.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/StartAudioContext.js"></script>
  <script src="/vendor/recorder/recorder.js"></script>

  <script type="text/javascript" src="/globalControls.js"></script>

  <script type="text/javascript" src="/drumMachine.js"></script>
  <script type="text/javascript" src="/synth.js"></script>

  <script type="text/javascript" src="/patternControls.js"></script>

  <script type="text/javascript" src="/socketControls.js"></script>
  <script type="text/javascript" src="/record.js"></script>

  {{#if cur_user}}
    <script type="text/javascript" src="/saveControls.js"></script>
  {{/if}}

  {{#if cur_user}}
    {{#if colab_page}}

    <script type="text/javascript">
      // Declaring all variables before



    </script>

    <script type="text/javascript" src="/mousePosition.js"></script>

    <script type="text/javascript" src="/chat.js"></script>
    <script type="text/javascript" src="/globalControlSocket.js"></script>
    <script type="text/javascript" src="/socketDrums.js"></script>
    <script type="text/javascript" src="/socketSynth.js"></script>
    {{/if}}
  <script>
    ;(function() {
      $('#logout').click(function() {
        $.post("/logout", function() {
          window.location.href = '/';
        });
      });
    })();
  </script>
  {{/if}}
</body>
</html>
