<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  
</head>
<body>
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">Drum Machine</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/posts">Beats</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  {{{ body }}}

 
  <script src="/vendor/nexus/NexusUI.js"></script>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/nexus/NexusUI.js"></script>
  <script src="/vendor/ToneJS/Tone.js"></script>
  <script src="/vendor/ToneJS/Tone.min.js"></script>
  

  <script>
        Nexus.context = Tone.context
        var sequencer = new Nexus.Sequencer('#drum',{
       'size': [400,200],
       'mode': 'toggle',
       'rows': 5,
       'columns': 10
        })
        sequencer.colorize("accent", "black");
        
        var hihat = new Tone.Player({"url" : "/vendor/Samples/hat.wav", "fadeOut" : 0.2}).toMaster();
        var kick = new Tone.Player({"url" : "/vendor/Samples/kick.wav", "fadeOut" : 0.2}).toMaster();
        var kicker = new Tone.Player({"url" : "/vendor/Samples/kicker.wav", "fadeOut" : 0.2}).toMaster();
        var snare = new Tone.Player({"url" : "/vendor/Samples/snare.wav", "fadeOut" : 0.2}).toMaster();
        var sistersnare = new Tone.Player({"url" : "/vendor/Samples/sistersnare.wav", "fadeOut" : 0.2}).toMaster();
        

        
        sequencer.start();
        //console.log(number.value * 100);
        sequencer.on('step',function(v) {
          console.log(v);
          if (v[0] == 1)
          {
            hihat.start();
          }
          if (v[1] == 1)
          {
            kick.start();
          }
          if (v[2] == 1)
          {
            kicker.start();
          }
          if (v[3] == 1)
          {
            snare.start();
          }
          if (v[4] == 1)
          {
            sistersnare.start();
          }
        })
        
       

        var oscilloscope = new Nexus.Oscilloscope('#output')
         // or another audio context you have created
        
        oscilloscope.colorize("accent", "black");

        oscilloscope.connect( Tone.Master );
        
  </script>


  
</body>

</html>