<div class="container">
  <div class="row">
    <div class="col-lg-8 panel panel-default" style="min-height: 200px;">
      <h5>global controls</h5>
      <br>
      <span id = "output"></span>
      <!-- <button id = "start_stop_btn" type = "button" class = "btn btn-success">Start/Stop</button> -->
      <br>
      <div id = "slider">
        <div id = "tempodisplay"></div>
      </div>
      <br>
      <br>
      <div id = "button"></div>
    </div>
    <div class="col-lg-4 well" style="min-height: 200px;">
      chat area
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4 well" style="min-height: 437px;">
      synth controls
    </div>
    <div class="col-lg-8 panel panel-default">
      <h2>Synth</h2>
      <div id = "synth"></div>
      <span style="margin-left:14px; word-spacing:24.5px;">01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16</span>
      <br>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4 well" style="min-height: 261px;">
      drum controls
    </div>
    <div class="col-lg-8 panel panel-default">
      <h2>Drums</h2>
      <div id = "drums"></div>
      <span style="margin-left:14px; word-spacing:24.5px;">01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16</span>
      <br>
    </div>
  </div>
  

  
  
  
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      <br>
      
      <br>
      
	    
      <br>
      
    </div>
  </div>
</div>
